

body {
  background-color: #708dab;
}

.test {
  border:1px solid red;
}
.maintainer {
  border:1px solid #5e676e;
  border-radius: 3px;
  background-color: #f5efe3;
  min-height: 96vh;
  margin-top:2vh;
  position: relative;
  padding-bottom: 55px;
}

header {
    background: #3a5278; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#3a5278, #344b6b); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#3a5278, #344b6b); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#3a5278, #344b6b); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#3a5278, #344b6b); /* Standard syntax */
    padding: 15px;
}

.vertical--center  {
  height: 100px;
  width: 0;
  border:1px solid black;
  margin: 0 auto;
  margin-bottom: 20px;
}


.splash--landing {

}

.auto--center {
  margin: 150px auto;
}

.get--started {
  max-width: 430px;
  padding: 15px;
  margin-top: 100px;
}

.get--started h4 {
    margin-top: -45px;
}

.get--started > div {
  padding-bottom: 15px;
}

.get--started a {
  display: block;
}

.get--started a.btn-block i {
  display: inline-block;
  border:1px solid #fff;
  padding: 0px;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  line-height: 2em;
 font-size:14px; 
}





.form-signin {
  max-width: 330px;
  padding: 15px;
  margin-top: 200px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

footer {
  color:#708dab;
  position: relative;
  width:96%;
  margin-top: -35px;
  margin-left: auto;
  margin-right: auto;
}


.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; 
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.inner {
  padding: 30px;
}

.user-pic {
  max-width:150px;
  margin:25px auto;
  position:relative;
}
.user-pic img {
  border-radius:5px;
  border:1px solid rgba(0, 0, 0, 0.2);
  max-width: 150px;
  max-height: 150px;
  padding: 5px;
  background: #fdf8f2;
}

.circle-box {
  background-color:red;
  color:#fff;
  width:30px;
  height:30px;
  line-height:30px;
  position:absolute;
  right: 6px;
  bottom: 6px;
}

.form-group {
  padding-top: 15px;
  margin-bottom: 0;
  /*padding-bottom: 15px;*/
}

.col-form-label-sm {
    padding-top: calc(.55rem + 1px);
    padding-bottom: calc(.55rem + 1px);
    font-size: 1.3rem;
    line-height: 1.5;
    padding-left: 15px;
    padding-right: 15px;
}

.col-form-label {
    padding-top: calc(.9rem + 1px);
    padding-bottom: calc(.9rem + 1px);
    margin-bottom: 0;
    font-weight: normal;
    line-height: 1.5;
}

.tab_wrapper {
  background-color:#fdf8f2;
  padding: 15px;
  border:1px solid rgba(0, 0, 0, 0.2);
  border-top: 0;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  /*margin-top: 15px;*/
}

.main--tab,
.interior--tab {
    background: #f3f0df; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#f3f0df, #e1d9c6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f3f0df, #e1d9c6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f3f0df, #e1d9c6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f3f0df, #e1d9c6); /* Standard syntax */
    padding:15px;
    padding-bottom: 0;
    border-bottom: 0;
    margin-top: 15px;
}

.interior--tab a,
.main--tab a {
  color:#333;
  font-weight:bold;
}

.interior--tab .active a,
.main--tab .active a {
  border-color:#e1decd !important;
}


.interior--tab li {
  min-width: 33%;
}

.interior--tab > li.active > a, 
.interior--tab > li.active > a:hover, 
.interior--tab > li.active > a:focus {
  
  /*background-color:#fed1ce;*/
}

.small--logo {
  
}

.form-control-feedback {
  right:15px;
}




@media (min-width: 768px) {

  .container {
    width: 98%;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {

  .small--logo {
      padding-bottom: 150px;
  }
  .container {
    width: 98%;
  }
  .cover-container {
    width: 700px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 98%;
  }
}

@media (max-width: 1400px) {
  .custom--list {}
  .custom--list li {}
  .custom--list .badge {
  float: none;
  display: block;
  }
}

@media (max-width: 767px) {

}





span.required{color: red;}
.padding-left-0{padding-left: 0px;}
.padding-right-0{padding-right: 0px;}